body{
    font-family: sans-serif;
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: cursive;
    color: var(93B48B);
}
header{
    padding: 20px;
    background-color: var(646F4B);
}
p{
    padding: 25px;
}
nav{
    background-color: var(114B5F);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(028090);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(456990);
}
nav a:hover {
    color: var(4B644A);
    background-color: var(341C1C);
}